@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-thumb {
  background-color: rgb(79, 70, 229); 
  border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(79, 70, 229);
}

::-webkit-scrollbar-track {
  background-color: #edf2f7;
  border-radius: 2px; 
}